header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    z-index: 1000;
}
div.flex-container {
    display: flex;
    flex-direction: row;
    margin-left:10%;
}
div.flex-container > div{
    margin: 10px;
    flex: 1;
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
}